<div class="center jumbotron show-bg">
	<h1 style="color:Green;">Welcome to Recipie Shop</h1>
		<%= link_to "Sign-up",register_path,class:"btn btn-lg btn-success"%>
</div>
<div class="row">
	<div class="col-lg-4">
		<h3 class="midrow">View Recipies</h3>
		<h2 class="left">browse without sign-up</h2>
		<%= link_to "Link here",recipes_path,class:"btn btn-warning btn-small"%></p>		
	</div>
	<div class="col-lg-4">
		<h3 class="midrow">Chefs</h3>
		<h2 class="left">Login</h2>
		<%= link_to "Link here",login_path  ,class:"btn btn-warning btn-small"%></p>		
	</div>
	<div class="col-lg-4">
		<h3 class="midrow">Show chef</h3>
		<h2 class="left">browes Chefs</h2>
		<%= link_to "Link here",chefs_path,class:"btn btn-warning btn-small"%></p>		
	</div>
</div>



